<h3 id="subscribe">Subscribe via Email</h3>
 <form action="///progressivesolemnity.us8.list-manage.com/subscribe/post?u=b795655af05711d0eb00d767b&amp;id=6720de72e5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <div class="form-group">
   <label for="mce-EMAIL">Email Address</label>
   <input type="email" name="EMAIL" id="mce-EMAIL" class="form-control input-lg" placeholder="your_name@example.com">
  </div> 
  <!-- anti-spam bullshit -->
   <div style="position: absolute; left: -5000px;"><input type="text" name="b_b795655af05711d0eb00d767b_6720de72e5" tabindex="-1" value=""></div>
  <!-- /anti-span bullshit -->

   <input type="submit" value="Subscribe" class="btn btn-primary btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
 </form>


<!-- <img class="img-responsive img-circle " src="{{ site.url }}/assets/images/adam-face.jpg" />
				<div class="row side-bar-icons">
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/cant-cross.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/trinity-circle.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/copyleft.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/open-source.svg" />
					</div>
				<!--	<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/anarchy.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/source-code.svg" />
					</div> -->
				</div> <!-- /.row sidebar icons -->
